body {
  background-color: rgb(39, 39, 39);
  margin: 0%;
  padding: 0%;
}
.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}
.vertical-menu a.active {
  background-color: #04aa6d; /* Add a green color to the "active/current" link */
  color: white;
}

.vertical-menu {
  border-radius: 3%;
  background-color: #eee;
  height: 100%;
}

#search {
  border-radius: 2%;
  margin-top: 40%;
  margin-left: 50%;
  width: 20rem;
  height: 2rem;
  border-radius: 3%;
  text-indent: 2%;
  padding-right: 10%;
}
.search-icon {
  position: absolute;
  left: 450px;
  top: 90%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #717171;
  pointer-events: none;
}
.container-fluid.main {
  padding: 0%;
  margin: 0%;
}
.logo img {
  margin-left: 13%;
}
.plus-prod {
  margin-top: -3%;
}
th {
  color: #ccc;
  padding: 1%;
  line-height: 15px;
  font-size: 1rem;
}
table {
  table-layout: fixed;
  width: 100%;
}
.subdiv {
  margin-left: 30%;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 1%;
}
a.lahi {
  text-decoration: none;
  color: black;
}
